<div ng-include="url.templateUrl" style="display:inline;"></div>
<br/>

<h1 class="h2-style">Todo Menu</h1>

<br/>
<div id="menu" class="box">

  <div style="width:800px;margin:auto">
      <div class="row">
          <!-- <div class="col-sm-6 col-md-6 col-lg-6">
              <div ng-click="viewAdminFunctions()" class="hBtnDiv">
                  <img class="eightenyardarea" src="img/icons/plus-math-function.png" />
                  <h4 class="hBtnText">Create Todo List</h4>
              </div>
          </div> -->
          <div class="col-sm-6 col-md-6 col-lg-6">
              <div ng-click="manageList()" class="hBtnDiv">
                  <img class="eightenyardarea" src="img/Icons/location-setting-512.png" />
                  <h4 class="hBtnText">Manage Todo list</h4>
              </div>
          </div>
      </div>

  </div>
</div>
